<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- * Подключение favicon -->
  <!-- <link rel="shortcut icon" href="../assets/favicon/favicon.ico" type="image/x-icon"> -->
  <!-- * Подключение шрифтов -->
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> -->
  <!-- * Подключение стилей -->
  <!-- <link rel="stylesheet" href="css/vendor.css"> -->
  <link rel="stylesheet" href="css/style.css" />
  <!-- * Подключение скриптов -->
  <script defer src="js/app.js"></script>
  <title>@@page_title</title>
</head>
